.paper/
banned-ips.json
banned-players.json
bukkit.yml
cache/
commands.yml
config/
eula.txt
help.yml
libraries/
logs/
mcrun
ops.json
paper-*.jar
permissions.yml
plugins/
server.properties
spigot.yml
usercache.json
versions/
whitelist.json
world/
*.bak
